.navbar {
  background: rgba(35, 128, 196, 255) !important;
  .button {
    background: transparent;
    border: none;
  }
  .bi {
    font-size: 25px;
    color: white;
  }
  .nav-link {
    color: white !important;
  }
}
