.newCard {
  border-radius: 0px;
  padding: 24px 8px;
  min-width: 480px !important;
  overflow: hidden;
  height: 215px;
  margin: 0px;
  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
  }
  p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: gray;
  }
  .cardtitle {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
    -webkit-box-orient: vertical;
  }
  .bi {
    color: blue;
    margin: 0px 8px;
  }
}
