@import "./node_modules/bootstrap/scss/functions";
@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/mixins";

.containerNewCards {
  .newCards {
    @include media-breakpoint-up(xl) {
      height: 1075px;
      overflow-y: hidden;
      &:hover {
        overflow-y: scroll;
      }
    }
    @include media-breakpoint-down(xl) {
      overflow-x: scroll;
    }
  }
}
