.containerSearch {
  width: fit-content;
  .containerButton {
    width: fit-content;
    .buttonSearch {
      border-radius: 10px 0px 0px 0px;
      border: none;
      background: white;
      margin-right: 2px;
      width: 40px;
      .bi {
        color: green;
        font-size: 25px;
      }
    }
  }
  .containerInput {
    width: fit-content;
    .inputSearch {
      border: none;
      border-radius: 0px 0px 10px 0px;
      width: 420px;
      padding: 8px;
    }
  }
}
